@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
  }

  html,body{
    overflow-x: hidden;
}
  
  a {
    color: #000;
  }
  
  .logo {
    font-size: 35px; 
    font-family: 'Knewave', cursive;
    color: black;
  }
  
  .header a{
    text-decoration: none !important;
    color: black;
  }
  
  .menu a:hover{
    color:rgb(177, 221, 16);
  }

  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  #about{ 
    height: 400px;
  }

  #homepage_img{ 
    height: 450px;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(images/171014-ff-ashvlle-2318--1920.jpg);
  }


.container{
    width: 100%;
    padding: 0;
    margin:2px;
    max-width: 125rem;
}

.row{
    justify-content: center;
}

#content{
    margin-top: 64px;
}

section{
    width: 100%;
    display: inline-block;
    justify-content: center;
}

.flex-container {
    padding: 65px;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.card {
  text-align: center;
  justify-content: center;
  border-color: rgb(235, 235, 235);
  border-radius: 10px;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.card-img{
  width: 100%;
  height: 20vw;
  object-fit: cover;
}


/* This swaps the position for create an event for mobile responsive */
#swap{
  display: flex;
  flex-direction:row;
}

@media screen and (max-width:992px){
	#swap{flex-direction:column-reverse;}
}

/*events */
#banner {
  margin:0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.content{
  text-align: center;
}

section .content h2{
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
}

@media (max-width:1366px ){
  section .content h2{
    font-size: 20vw;
  }
}


#running h2{
  background-image: url("https://blog.mapmyrun.com/wp-content/uploads/2017/09/5-Reasons-Track-Running-Is-the-Best.jpg") ;
}


.search-bar{
  justify-content: center;
  justify-content: inline-block;
}

ol {
  list-style: none;
}

input[class="filter"] {
  position: absolute;
  left: -9999px;
}

/* FILTERS */
.filters {
  text-align: center;
  margin-bottom: 2rem;
  margin: 0px;
  padding: 0px;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--green);
  color: var(--white);
}

