{%extends 'layout.template.html'%}

{%block content%}
<form method='POST'>
    <label>Title: </label>
    <input type="text" name="programme_title" value={{programme.title}}>
    <br/>
    <label>Duration of run: </label>
    <input type="text" name="programme_duration" value={{programme.duration}}>
    <br/>
    <label>Difficulty: </label>
    <input type="text" name="programme_difficulty" value={{programme.difficulty}}>
    <br/>
    <label>Tags: </label>
    <input type="text" name="programme_tags" value={{programme.tag}}>
    <br/>
    <label>Category: </label>
    <input type="text" name="programme_category" value={{programme.category}}>
    <br/>
    <label>Description: </label>
    <input type="text" name="programme_description" value={{programme.description}}>
    <br/><br/>
    <input type="submit"/>
</form>
{%endblock%}
