{%extends 'layout.template.html'%}

{%block content%}


<div id="homepage_img" style="padding-top:120px;">
    <div class="col">
    <h2 style="font-family: 'Roboto', sans-serif; color:rgb(255, 255, 255); text-align: center;">
      Powering the world's running events and activities
    </h2>
  </div>
    <div class="col">
    <h4 style="font-family: 'Roboto', sans-serif; color:rgb(255, 255, 255); text-align: center;">
      Search for events happening all around you.
    </h4>
  </div>
    <div class="col">
    <form class="form-inline" method="GET" style="justify-content: center;">
      <input class="form-control form-control-sm mr-3 w-30" type="text" aria-label="Search" name="search-by" placeholder="Search for an event">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</div>

<section>
  <div class="col" style="margin-top: 100px; margin-bottom: 100px;">
    <h1 style="font-family: 'Montserrat', sans-serif; color:rgb(92, 230, 99); text-align: center;"> 10 Thousand runners strong</h1>
    <h2 style="font-family: 'Work Sans', sans-serif; color:rgb(43, 43, 43); text-align: center;"> Welcome to the community!</h2>
  </div>
</section>


<section>
  <div class="card mb-4 mt-4" style="border-color: white;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="static\images\SpeedCreative-FFBZN-3253--960.jpg" style="object-fit: cover;" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Join a nearby group</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4 mt-4" style="border-color: white;">
    <div class="row no-gutters" id="swap">
      <div class="col-md-8">
        <div class="card-body" >
          <h3 class="card-title">Create an event</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/using-workout-applications-royalty-free-image-1577215846.jpg" class="card-img" alt="...">
      </div>
    </div>
  </div>
  <div class="card mb-4 mt-4" style="border-color: white;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://www.roberthalf.com.au/sites/roberthalf.com.au/files/styles/full_width_content_image_1x_small_480/public/2017-09/7%20hidden%20benefits%20of%20running%20a%20corporate%20challenge%20for%20your%20team.jpg?itok=DmOhOVLr" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Motivate one another</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</section>


{%endblock%}