{%extends 'layout.template.html'%}
{%block content%}
<div id="banner">
    <div class="content" id="running" style="padding:40px;">
        <h2> Events </h2>
        <h4>You will never be alone.</h4>
        <h4>Join various groups and be part of the community!</h4>
    </div>
</div>
<div>
    <form class="form-group" method="GET">
        <div class="row" style="margin-bottom: 30px;">
            <input type="text" style="width: 310px;" name="search-by" placeholder="Search for an event">
            <input type="submit" class="button colored-btn select-btn" value="Search" style="margin-left: 10px; margin-top:8px;">
            <a style=" text-decoration: none; margin-left:10px; margin-top:8px;" href="{{ url_for('create_programmes')}}">
                <i id="create_button" class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
            </a>
        </div>

        <div>
            <input class="filter" type="submit" id="All" name="categories" value="All">
            {% for c in categories %}
            <input class="filter" type="submit" id="{{c}}" name="search-category" value="{{c}}" />
            {%endfor%}
            {% for d in difficulties %}
            <input class="filter" type="submit" id="{{d}}" name="search-difficulty" value="{{d}}" />
            {%endfor%}
            <ol class="filters">
                <li><label for="All">All</label></li>
                {%for c in categories%}
                <li>
                    <label for="{{c}}">{{c}}</label>
                </li>
                {%endfor%}
                {%for d in difficulties%}
                <li>
                    <label for="{{d}}">{{d}}</label>
                </li>
                {%endfor%}
            </ol>
        </div>
    </form>
</div>




<div class="flex-container">
    {%for r in results%}
    <a style="text-decoration: none;" href="{{ url_for('programme_detail', programme_id=r._id)}}">
        <div class="card mb-5">
            <img class="card-img-top" src="{{r.image_url}}" alt="image_for_event"
                onerror="this.src='https://wmimg.azureedge.net/public/img/articles/why-are-east-african-runners-so-dominant-/why-are-east-african-runners-so-dominant-.jpg'">
            <div class="card-body">
                <h5 class="card-title">{{r.title}}</h5>
                <p class="card-text">{{r.difficulty}}</p>
                <p class="card-text">{{r.category}}</p>
                <p class="card-text"><small class="text-muted">Created on {{r.date_of_post.strftime('%Y-%m-%d')}} by
                        {{r.author}}</small></p>
            </div>
        </div>
    </a>
    {%else%}
    <div style="text-align: center;">No results found</div>
    {%endfor%}
</div>


<div class="row">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?current_page=1" aria-label="First" style="color: black;">First Page</a>
            {%for p in range(1,max_pages+1)%}
            <li class="page-item"><a class="page-link" href="?current_page={{p}}" style="color: black;">{{p}}</a></li>
            {%endfor%}
        <li class="page-item">
            <a class="page-link" href="?current_page={{max_pages}}" aria-label="Last" style="color: black;">Last Page</a>
        </li>
    </ul>
</div>
{%endblock%}