{%extends 'layout.template.html'%}

    {%block content%}
    <div id="banner">
        <div class="content" id="running" style="padding:40px;"> 
            <h2> Events </h2>
            <h4>You will never be alone.</h4>
            <h4>Join various groups and be part of the community!</h4>
        </div>
    </div>

    <div class="row">
        <form class="form-group" method="GET">
            <input type="text" name="search-by" placeholder="Search for an event">

        <input type="submit" value="search"/>
    </form>
    </div>
    
    <div class="row">
    <button type="button" class="btn btn-success"><a style=" text-decoration: none;" href="{{ url_for('create_programmes')}}">Create New Event</a></button>
    </div>

    <div class="flex-container">
        {%for r in results%}
        <a style="text-decoration: none;" href="{{ url_for('programme_detail', programme_id=r._id)}}">
        <div class="card mb-3">
            <img class="card-img-top" src="{{r.image_url}}"  alt=""onerror="this.src='https://wmimg.azureedge.net/public/img/articles/why-are-east-african-runners-so-dominant-/why-are-east-african-runners-so-dominant-.jpg'">
            <div class="card-body">
              <h5 class="card-title">{{r.title}}</h5>
              <p class="card-text">{{r.difficulty}}</p>
              <p class="card-text">{{r.category}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </a>
        {%endfor%}
    </div>
{%endblock%}
